span.tools
  a.tooltipped.black-text(
    data-position='left'
    data-tooltip='Show latest episodes'
    href='#'
  ): i.small.mdi-action-list

  a.tooltipped.black-text(
    data-position='left'
    data-tooltip='Listen to a random show'
    href='#'
  ): i.small.mdi-av-play-arrow

  a.tooltipped.black-text(
    data-position='left'
    data-tooltip='Subscribe to podcast'
    href='#'
  ): i.small.mdi-content-add

span.card-title.flow-text.grey-text.text-darken-4 #{title}
