template(name='search')
  .mui-panel.search
    .mui-row
      .mui-col-xs-10
        input#searchQuery.mui-form-control.mui-empty(
          name='searchQuery'
          placeholder='Search for a particular podcast'
          type='text'
        )
    
      .mui-col-xs-2
        button.mui-btn.mui-btn-floating(type='button'): i.fa.fa-search
    
    +with results
      if error
        p There was an error: #{error.errorType} #{error.message}!
      
      else
        +masonryContainer(columnWidth=100 gutter=10 transitionDuration='0.1s' id='grid')
          each results
            +masonryElement('grid')
              a(href='#')
                .image
                  img(
                    alt='#{title} (#{subscribers} subscribers)'
                    src=logo_url
                    title='#{title} (#{subscribers} subscribers)'
                  )
                
                p.mui-text-subhead #{title}
