.container-fluid.row
  .col.l9.m11.s12.offset-l1.input-field
    form
      i.mdi-action-search.prefix
      input#query.validate(
        autofocus
        name='query'
        placeholder='Podcast name, category, network, etc.'
        type='text'
      )

with results
  if error
    p There was an error: #{error.errorType} #{error.message}!
  
  else
    .container-fluid.row
      .col.l10.m12.s12.offset-l1
        +masonryContainer(columnWidth=110 gutter=10 id='grid' transitionDuration='0.1s')
          each results
            +masonryElement('grid')
              .card.small.hoverable(data-feed='#{feedUrl}')
                
                if isExplicit collectionExplicitness
                  .ribbon EXPLICIT
                
                a($dyn=imbg)  
                  img(
                    src=artworkUrl600
                    title='#{collectionName}'
                  )

                .card-content.activator
                  span.card-title.grey-text.text-darken-4 #{collectionName}

                .card-reveal
                  span.card-title

                  span.tools
                    a.disabled.tooltipped.black-text.list(
                      data-position='left'
                      data-tooltip='Show latest episodes'
                      href='#'
                    ): i.small.mdi-action-list

                    a.disabled.tooltipped.black-text.play(
                      data-position='left'
                      data-tooltip='Listen to a random show'
                      href='#'
                    ): i.small.mdi-av-play-arrow

                    a.disabled.tooltipped.black-text.join(
                      data-position='left'
                      data-tooltip='Subscribe to podcast'
                      href='#'
                    ): i.small.mdi-content-add

                  img.thumb(src=artworkUrl60)
                  p.description
                  +spinner
