template(name='layout')
  html(lang='en')
    head
      meta(
        content='text/html; charset=UTF-8'
        http-equiv='Content-Type'
      )
      
      meta(
        content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no'
        name='viewport'
      )

      title Parallax Template - Materialize

      //- CSS
      link(
        href='https://fonts.googleapis.com/icon?family=Material+Icons'
        rel='stylesheet'
      )

      //- <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      //- <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>


    body
      +navbar
      +yield
      +fab
