section#details(class=theme)
  .container-fluid
    .row.toolbar
      .col.s4
        a.btn-flat.waves-effect.waves-contrast.btn-back(href='#')
          span
            i.mdi-navigation-arrow-back
            | Back

      .col.s4
        a.btn-flat.waves-effect.waves-contrast.btn-play(href='#')
          span
            i.mdi-av-play-arrow
            | Sample

      .col.s4
        if isTracking cid
          a.btn-flat.waves-effect.waves-contrast.btn-leave(href='#')
            span.right
              i.mdi-content-remove
              | Remove
        else
          a.btn-flat.waves-effect.waves-contrast.btn-join(href='#')
            span.right
              i.mdi-content-add
              | Add

  .container
    .row.summary
      .col.s4
        img#thumb(crossorigin='' src=img)

      .col.s8
        h4= title

        .labels
          if isExplicit collectionExplicitness
            span.label.red.white-text explicit
          each genres
            span.label= this

    .row.blurb
      .col.s12
        ul.collapsible(data-collapsible='accordion')
          each accordionElements
            li
              .collapsible-header.waves-effect.waves-contrast
                i($dyn=icon)
                = title

              .collapsible-body
                p= body

    .row.list
      +episodeList
