#episodes.modal.bottom-sheet
  .modal-content
    h4 #{name}
    ul.collection
      each list
        li.collection-item.avatar.dismissable
          a.queue(
            data-feed='{{enclosure.$.url}}'
            data-title='{{title}}'
            data-guid='{{getGUID guid}}'
            href='#'
          ): i.mdi-content-add.circle.red
          h5 #{title}
          if summary
            p #{summary}
          else if subtitle
            p #{subtitle}
