ul.collection
  if tracking
    each item
      if isEpisodeQueued enclosure.$.url
        li.collection-item.white.avatar.dismissable
          a.queued(
            data-title='{{title}}'
            data-url='{{enclosure.$.url}}'
            href='#'
          )
          i.mdi-content-remove.black-text
          +episodeItem
      
      else
        li.collection-item.avatar.dismissable
          a.queue(
            data-title='{{title}}'
            data-url='{{enclosure.$.url}}'
            href='#'
          )
          i.mdi-content-add.white-text
          +episodeItem          

  else
    each item
      li.collection-item.white
        +episodeItem
