#episodes.modal.bottom-sheet
  .modal-content
    h4 #{name}
    ul.collection(data-tracking='#{tracking}')
      each list
        li.collection-item.avatar.dismissable
          a.queue(
            data-title='{{title}}'
            data-url='{{enclosure.$.url}}'
            href='#'
          )
          i.mdi-content-add.white-text.small
          h5 #{title}
          if summary
            p !{summary}
          else if subtitle
            p !{subtitle}
