html(lang='en')
  head
    meta(
      name='apple-mobile-web-app-capable'
      content='yes'
    )
    
    meta(
      name='apple-mobile-web-app-title'
      content='scatpod'
    )
    
    meta(
      name='application-name'
      content='scatpod'
    )
    
    meta(
      name='mobile-web-app-capable'
      content='yes'
    )
    
    meta(
      http-equiv='Content-Type'
      content='text/html; charset=UTF-8'
    )
    
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
    )

    title scatpod
    link(rel='manifest' href='manifest.webmanifest')

    //- JS
    //- script(src='/js/bokehbg.js')
    
    //- CSS
    //- link(href='https://fonts.googleapis.com/icon?family=Material+Icons' media='screen,projection' rel='stylesheet' type='text/css')
    //- link(href='css/materialize.css' type='text/css' rel='stylesheet' media='screen,projection')
    //- link(href='css/style.css' type='text/css' rel='stylesheet' media='screen,projection')
    //- link(href='bower_components/polymer/polymer.html' rel='import')
    //- link(href='' rel='stylesheet' type='text/css')
