.navbar-fixed
  nav.color-1(role='navigation')
    .nav-wrapper
      form#search.hide
        .input-field
          input.color-1(autofocus type='search')

      ul.right.hide-on-med-and-down
        li: a.modal-trigger(href='#modal-add'): i.mdi-content-add
        li: a.dropdown-button(data-activates='user-menu' href='#'): i.mdi-action-account-circle

      ul#send.right
        li.search
          a.white-text.waves-effect.waves-light(href='#')
            i.mdi-action-search.right
            span.term= term

      ul#user-menu.dropdown-content
        li: a(href='#!') Profile
        li: a(href='#!') Settings

        if recognized
          li.divider
          li: a(href='#!') Logout

      ul#mobile-nav.side-nav.color-2
        li.color-2: a(href='#{pathFor route="home"}')
          i.mdi-action-home.left
          | Home

        li.color-2: a.modal-trigger(href='#modal-add')
          i.mdi-content-add.left
          | Add more podcasts

        li.color-2: a(href='#{pathFor route="settings"}')
          i.mdi-action-settings.left
          | Settings

        li.color-2: a(href='#')
          i.mdi-action-help.left
          | Help

        if recognized
          li: .divider

          li.color-2: a.modal-trigger(href='#modal-exit')
            i.mdi-action-exit-to-app.left
            | Log out

      a#burger.button-collapse.white-text(
        data-activates='mobile-nav'
        href='#'
      ): i.mdi-navigation-menu
